<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../assets/css/modal.css">
    <!-- Thêm các tài nguyên CSS cần thiết -->
<!-- </head>
<body>
    <div class="product-detail-container" id="productContainer">
        <div id="product-detail"></div>
    </div>
    <!-- Thêm các tài nguyên JavaScript cần thiết -->
    <script src="../assets/js/product-detail.js"></script>
</body>
</html> --> -->
