<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuyStore - Đăng ký</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/logo/logostoreblue.png">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="../assets/js/signup.js"></script>
</head>
<body>
    <div class="login__signup">
        <div class="title">
            <img src="../assets/img/logo/logo.png" alt="" class="title__img">
            <span class="title__desc">Uy tín làm nên thương hiệu</span>
        </div>

        <form onsubmit="register(); return false;" class="wrapsignup">
            <div class="wrap__login">
                <input type="text" class="login__input" id="username" name="username" placeholder="Tên tài khoản...">
            </div>
            
            <div class="wrap__login">
                <input type="password" class="login__input" id="password" name="password" placeholder="Mật khẩu...">
            </div>

            <div class="wrap__login">
                <input type="password" class="login__input" id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu...">
            </div>
            
            <div class="wrap__login">
                <button type="submit" class="login__btn">Đăng ký</button>
            </div>

            <div class="apartsignup"></div>
            
            <div class="wrap__login">
                <a href="./login.html" class="login__btn-signup">Đăng nhập</a>
            </div>
        </form>
    </div>
</body>
</html>
