.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
}

.header__search .header__search-input-wrap {
    position: relative;
    height: 100%;
    flex: 1;
}

.header__search .header__search-input {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border: 2px var(--primary-color) solid;
    outline: var(--primary-color);
    border-radius: 8px;
}

.header__search .header__search-btn {
    height: 100%;
    position: absolute;
    background-color: var(--primary-color);
    border: none;
    right: 0;
    width: 100px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header__search .header__search-btn:hover {
    opacity: 0.9;
}

.header__search .header__search-btn-icon {
    font-weight: 900;
    color: var(--white-color);
}
